{"openapi":"3.0.0","info":{"title":"IBKR CPAPI","description":"Interactive Brokers RESTful API built around the Interactive Brokers Client Portal interface.","contact":{"name":"API Support","url":"https://www.ibkr.com/support","email":"support@interactivebrokers.com"},"license":{"name":"ibkr licence","url":"https://ibkr/license"},"version":"1.2.2"},"servers":[{"url":"https://api.ibkr.com/v1/api","description":"IBKR API Base Server"},{"url":"https://api.ibkr.com/alpha/api","description":"IBKR API Base Alpha Server"}],"paths":{"/iserver/account/alert/{alertId}":{"get":{"tags":["Alerts"],"summary":"Get details of a specific alert","description":"Request details of a specific alert by providing the assigned alertId Id.","parameters":[{"name":"alertId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","description":"alert identifier, internally referenced as order id","format":"int64"}},{"name":"type","in":"query","required":true,"style":"form","explode":false,"schema":{"type":"string","description":"queryType"}}],"responses":{"200":{"description":"An object containing all unique details of the specified alert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/alertDetails"},"examples":{"found-alert":{"value":{"account":"U1234567","order_id":833967258,"alert_name":"IBM","tif":"GTC","expire_time":null,"alert_active":1,"alert_repeatable":0,"alert_email":"john.smith@example.com","alert_send_message":1,"alert_message":"alert message","alert_show_popup":1,"alert_play_audio":null,"order_status":"Submitted","alert_triggered":false,"fg_color":"#FFFFFF","bg_color":"#0000CC","order_not_editable":false,"itws_orders_only":0,"alert_mta_currency":null,"alert_mta_defaults":null,"tool_id":null,"time_zone":null,"alert_default_type":null,"condition_size":1,"condition_outside_rth":1,"conditions":[{"condition_type":1,"conidex":"8314@NYSE","contract_description_1":"IBM","condition_operator":">=","condition_trigger_method":"0","condition_value":"500.00","condition_logic_bind":"n","condition_time_zone":null}]}}}}}},"400":{"description":"bad request if orderId is empty or type is invalid","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/errorResponse"},"examples":{"bad-request":{"value":{"error":"Bad Request: orderId and type are required","statusCode":400}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"orderId is not parsable; unable to process request","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/errorResponse"}}}},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/mta":{"get":{"tags":["Alerts"],"summary":"Get MTA Alert","description":"Retrieve information about your MTA alert. Each login user only has one mobile trading assistant (MTA) alert with it’s own unique tool id that cannot be changed. MTA alerts can not be created or deleted, only modified. When modified a new order Id is generated.\n","externalDocs":{"description":"See our here for more information on MTA alerts","url":"https://www.ibkrguides.com/iphone/alerts.htm"},"responses":{"200":{"description":"The alert description for the unique MTA alert on the account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/alertDetails"},"examples":{"mta-details":{"value":{"account":"U1234567","order_id":167426254,"alert_name":"MTA (AutoAlert)","tif":"GTC","expire_time":null,"alert_active":1,"alert_repeatable":1,"alert_email":"jonh.smith@example.com","alert_send_message":1,"alert_message":null,"alert_show_popup":0,"alert_play_audio":null,"order_status":"Submitted","alert_triggered":false,"fg_color":"#FFFFFF","bg_color":"#0000CC","order_not_editable":false,"itws_orders_only":0,"alert_mta_currency":"USD","alert_mta_defaults":"9:STATE=1,MIN=-260000,MAX=260000,STEP=500,DEF_MIN=-26000,DEF_MAX=26000|8:STATE=0,MIN=-15,MAX=15,STEP=0.5,DEF_MIN=-2,DEF_MAX=2|7:STATE=1,MIN=-5,MAX=5,STEP=0.5,DEF_MIN=-2,DEF_MAX=2|4:STATE=1,MIN=1,MAX=50,STEP=1,DEF_VAL=10|5:STATE=0","tool_id":55834574848,"time_zone":"all timezones can be here","alert_default_type":null,"condition_size":1,"condition_outside_rth":0,"conditions":[{"condition_type":5,"conidex":"*@*","contract_description_1":"Unknown","condition_operator":null,"condition_trigger_method":null,"condition_value":"*","condition_logic_bind":"n","condition_time_zone":null}]}}}}}}}}},"/iserver/account/{accountId}/alert/activate":{"post":{"tags":["Alerts"],"summary":"Activate or deactivate an alert","description":"Activate or Deactivate existing alerts created for this account. This does not delete alerts, but disables notifications until reactivated.","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","example":"U1234567"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/alertActivationRequest"},"examples":{"activate-request":{"value":{"alertId":9876543210,"alertActive":1}},"deactivate-request":{"value":{"alertId":9876543210,"alertActive":0}}}}},"required":true},"responses":{"200":{"description":"An object containing details about the activated/deactivated alert.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/alertActivationResponse"},"examples":{"activated-deactivated-successfully":{"value":{"request_id":null,"order_id":833967258,"success":true,"text":"Request was submitted","failure_list":null}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Internal Server Error; unable to process incoming request due to invalid data in it","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorOnlyResponse"},"examples":{"request-with-non-existent-alertId":{"value":{"error":"failed to activate/deactivate alert"}}}}}}}}},"/iserver/account/{accountId}/alert/{alertId}":{"delete":{"tags":["Alerts"],"summary":"Delete an alert","description":"Permanently delete an existing alert. Deleting an MTA alert will reset it to the default state.","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","example":"U1234567"}},{"name":"alertId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","description":"order_id returned from the original alert creation, or from the list of available alerts.","example":"9876543210"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}}},"required":true},"responses":{"200":{"description":"An object containing details on the deleted endpoint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/alertDeletionResponse"},"examples":{"successfully-deleted":{"value":{"request_id":null,"order_id":833967258,"success":true,"text":"Request was submitted","failure_list":null}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Internal Server Error; Unable to delete alert in case when provided alert id doesn't exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorOnlyResponse"},"examples":{"alert-id-doesnt-exist":{"value":{"error":"failed to delete alert: Alert 83396732432423258 doesn't exist"}}}}}}}}},"/iserver/account/{accountId}/alert":{"post":{"tags":["Alerts"],"summary":"Create or Modify Alert","description":"Endpoint used to create a new alert, or modify an existing alert.","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","example":"U1234567"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/alertCreationRequest"},"examples":{"alert-creation-request":{"value":{"alertName":"AAPL_Price","alertMessage":"AAPL Price Drop!","alertRepeatable":0,"email":"jonh.smith@example.com","expireTime":"20231231-12:00:00","iTWSOrdersOnly":0,"outsideRth":0,"sendMessage":1,"showPopup":1,"tif":"GTC","conditions":[{"conidex":"265598@NYSE","logicBind":"a","operator":">=","timeZone":"US/Eastern","triggerMethod":"0","type":1,"value":"500"}]}},"alert-modification-request":{"value":{"orderId":"1408549184","alertName":"AAPL_Price","alertMessage":"AAPL Price Drop! Modified message","alertRepeatable":0,"email":"jonh.smith@example.com","expireTime":"20231231-12:00:00","iTWSOrdersOnly":0,"outsideRth":0,"sendMessage":1,"showPopup":1,"tif":"GTC","conditions":[{"conidex":"265598@NYSE","logicBind":"a","operator":">=","timeZone":"US/Eastern","triggerMethod":"0","type":1,"value":"500"}]}}}}},"required":true},"responses":{"200":{"description":"An object containing valid accounts and the account properties regarding trading access. This endpoint is also used to confirm account validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/alertCreationResponse"},"examples":{"successfully-created":{"value":{"request_id":null,"order_id":1408549184,"success":true,"text":"Submitted","order_status":null,"warning_message":null}},"successfully-modified":{"value":{"request_id":null,"order_id":1408549184,"success":true,"text":"Submitted","order_status":null,"warning_message":null}}}}}},"400":{"description":"bad request; body is empty","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/errorResponse"},"examples":{"empty-body":{"value":{"error":"Bad Request: body can't be empty","statusCode":400}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Internal Server Error. Unable to process request if incoming values are not valid. For example operator is \"abc\" Or if modification request contains unmodified fields\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorOnlyResponse"},"examples":{"invalid-creation-request":{"value":{"error":"Condition #1:can't recognize fix [abc]"}},"incorect-modification-request":{"value":{"error":"Alert name cannot be modified"}}}}}},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/{accountId}/alerts":{"get":{"tags":["Alerts"],"summary":"Get a list of available alerts","description":"Retrieve a list of all alerts attached to the provided account.","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","description":"Identifier for the unique account to retrieve information from.","example":"U1234567"}}],"responses":{"200":{"description":"An array of objects detailing contract information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/alerts"},"examples":{"not-found":{"value":[]},"found-alerts":{"value":{"order_id":9876543210,"account":"U1234567","alert_name":"AAPL","alert_active":1,"order_time":"20240308-17:08:38","alert_triggered":false,"alert_repeatable":0}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/acesws/{accountId}/signatures-and-owners":{"get":{"tags":["Accounts"],"summary":"Signatures and Owners","description":"Receive a list of all applicant names on the account and for which account and entity is represented.","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","description":"The account identifier to receive information for"}}],"responses":{"200":{"description":"An object containing valid accounts and the account properties regarding trading access. This endpoint is also used to confirm account validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/signatureAndOwners"},"examples":{"success":{"value":{"accountId":"U1234567","users":[{"roleId":"OWNER","hasRightCodeInd":true,"entity":{"entityType":"INDIVIDUAL","entityName":"John Smith","firstName":"John","lastName":"Smith"}}],"applicant":{"signatures":["John Smith"]}}}}}}},"400":{"description":"bad request; accountId is empty","content":{"application/json; charset=utf-8":{"schema":{"$ref":"#/components/schemas/errorResponse"},"examples":{"accountId-is-empty":{"value":{"error":"Bad Request: accountId needed","statusCode":400}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/{accountId}/summary":{"get":{"tags":["Accounts"],"summary":"General Account Summary","description":"Provides a general overview of the account details such as balance values.","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","description":"Pass the account identifier to receive information for.","example":"U1234567"}}],"responses":{"200":{"content":{"application/json":{},"examples":{}}},"400":{"$ref":"#/components/responses/IServerAccountBadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/{accountId}/summary/available_funds":{"get":{"tags":["Accounts"],"summary":"Summary of Available Funds","description":"Provides a summary specific for avilable funds giving more depth than the standard /summary endpoint.","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","description":"Pass the account identifier to receive information for.","example":"U1234567"}}],"responses":{"200":{"description":"Indicates a successful return of available funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/availableFundsResponse"},"examples":{"success":{"value":{"total":{"current_available":"825,208 USD","current_excess":"826,089 USD","Prdctd Pst-xpry Excss":"0 USD","SMA":"368,538 USD","Lk Ahd Avlbl Fnds":"821,067 USD","Lk Ahd Excss Lqdty":"822,324 USD","overnight_available":"821,067 USD","overnight_excess":"822,324 USD","buying_power":"3,304,346 USD","leverage":"n/a","Lk Ahd Nxt Chng":"@ 16:00:00","day_trades_left":"Unlimited"},"Crypto at Paxos":{"current_available":"0 USD","current_excess":"0 USD","Prdctd Pst-xpry Excss":"0 USD","Lk Ahd Avlbl Fnds":"0 USD","Lk Ahd Excss Lqdty":"0 USD","overnight_available":"0 USD","overnight_excess":"0 USD"},"commodities":{"current_available":"22,483 USD","current_excess":"23,361 USD","Prdctd Pst-xpry Excss":"0 USD","Lk Ahd Avlbl Fnds":"18,342 USD","Lk Ahd Excss Lqdty":"19,597 USD","overnight_available":"18,342 USD","overnight_excess":"19,597 USD"},"securities":{"current_available":"802,725 USD","current_excess":"802,727 USD","Prdctd Pst-xpry Excss":"0 USD","SMA":"368,538 USD","Lk Ahd Avlbl Fnds":"802,725 USD","Lk Ahd Excss Lqdty":"802,727 USD","overnight_available":"802,725 USD","overnight_excess":"802,727 USD","leverage":"1.43"}}}}}}},"400":{"$ref":"#/components/responses/IServerAccountBadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/{accountId}/summary/balances":{"get":{"tags":["Accounts"],"summary":"Summary of Account Balances","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","description":"Pass the account identifier to receive information for.","example":"U1234567"}}],"responses":{"200":{"description":"Indicates a successful return of available funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/summaryOfAccountBalancesResponse"},"examples":{"success":{"value":{"total":{"net_liquidation":"1,288,301 USD","Nt Lqdtn Uncrtnty":"0 USD","equity_with_loan":"1,279,520 USD","Prvs Dy Eqty Wth Ln Vl":"1,275,902 USD","Rg T Eqty Wth Ln Vl":"1,256,229 USD","sec_gross_pos_val":"1,791,096 USD","cash":"-401,693 USD","MTD Interest":"-549 USD","Pndng Dbt Crd Chrgs":"0 USD"},"Crypto at Paxos":{"net_liquidation":"0 USD","equity_with_loan":"0 USD","cash":"0 USD","MTD Interest":"0 USD","Pndng Dbt Crd Chrgs":"0 USD"},"commodities":{"net_liquidation":"32,072 USD","equity_with_loan":"23,291 USD","cash":"32,072 USD","MTD Interest":"0 USD","Pndng Dbt Crd Chrgs":"0 USD"},"securities":{"net_liquidation":"1,256,229 USD","equity_with_loan":"1,256,229 USD","Prvs Dy Eqty Wth Ln Vl":"1,275,902 USD","Rg T Eqty Wth Ln Vl":"1,256,229 USD","sec_gross_pos_val":"1,791,096 USD","cash":"-433,765 USD","MTD Interest":"-549 USD","Pndng Dbt Crd Chrgs":"0 USD"}}}}}}},"400":{"$ref":"#/components/responses/IServerAccountBadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/{accountId}/summary/margins":{"get":{"tags":["Accounts"],"summary":"Summary of Account Margin","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","description":"Pass the account identifier to receive information for.","example":"U1234567"}}],"responses":{"200":{"description":"Indicates a success request to receive margin balance values.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/summaryOfAccountMarginResponse"},"examples":{"success":{"value":{"total":{"RegT Margin":"896,255 USD","current_initial":"468,562 USD","Prdctd Pst-xpry Mrgn @ Opn":"0 USD","current_maint":"467,308 USD","projected_liquidity_inital_margin":"468,562 USD","Prjctd Lk Ahd Mntnnc Mrgn":"467,308 USD","projected_overnight_initial_margin":"468,562 USD","Prjctd Ovrnght Mntnnc Mrgn":"467,308 USD"},"Crypto at Paxos":{"current_initial":"0 USD","Prdctd Pst-xpry Mrgn @ Opn":"0 USD","current_maint":"0 USD","projected_liquidity_inital_margin":"0 USD","Prjctd Lk Ahd Mntnnc Mrgn":"0 USD","projected_overnight_initial_margin":"0 USD","Prjctd Ovrnght Mntnnc Mrgn":"0 USD"},"commodities":{"current_initial":"13,794 USD","Prdctd Pst-xpry Mrgn @ Opn":"0 USD","current_maint":"12,540 USD","projected_liquidity_inital_margin":"13,794 USD","Prjctd Lk Ahd Mntnnc Mrgn":"12,540 USD","projected_overnight_initial_margin":"13,794 USD","Prjctd Ovrnght Mntnnc Mrgn":"12,540 USD"},"securities":{"RegT Margin":"896,255 USD","current_initial":"454,768 USD","Prdctd Pst-xpry Mrgn @ Opn":"0 USD","current_maint":"454,768 USD","projected_liquidity_inital_margin":"454,768 USD","Prjctd Lk Ahd Mntnnc Mrgn":"454,768 USD","projected_overnight_initial_margin":"454,768 USD","Prjctd Ovrnght Mntnnc Mrgn":"454,768 USD"}}}}}}},"400":{"$ref":"#/components/responses/IServerAccountBadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/{accountId}/summary/market_value":{"get":{"tags":["Accounts"],"summary":"Summary of Account's Market Value","parameters":[{"name":"accountId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","description":"Pass the account identifier to receive information for.","example":"U1234567"}}],"responses":{"200":{"description":"Indicates a successful market value request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/summaryMarketValueResponse"},"examples":{"success":{"value":{"EUR":{"total_cash":"194","settled_cash":"194","MTD Interest":"0","stock":"0","options":"0","futures":"0","future_options":"0","funds":"0","dividends_receivable":"0","mutual_funds":"0","money_market":"0","bonds":"0","Govt Bonds":"0","t_bills":"0","warrants":"0","issuer_option":"0","commodity":"0","Notional CFD":"0","cfd":"0","Cryptocurrency":"0","net_liquidation":"194","unrealized_pnl":"0","realized_pnl":"0","Exchange Rate":"1.092525"},"HKD":{"total_cash":"0","settled_cash":"0","MTD Interest":"0","stock":"19,441","options":"0","futures":"0","future_options":"0","funds":"0","dividends_receivable":"0","mutual_funds":"0","money_market":"0","bonds":"0","Govt Bonds":"0","t_bills":"0","warrants":"0","issuer_option":"0","commodity":"0","Notional CFD":"0","cfd":"0","Cryptocurrency":"0","net_liquidation":"19,441","unrealized_pnl":"4,857","realized_pnl":"0","Exchange Rate":"0.1278515"},"JPY":{"total_cash":"14,781","settled_cash":"14,781","MTD Interest":"0","stock":"0","options":"0","futures":"0","future_options":"0","funds":"0","dividends_receivable":"0","mutual_funds":"0","money_market":"0","bonds":"0","Govt Bonds":"0","t_bills":"0","warrants":"0","issuer_option":"0","commodity":"0","Notional CFD":"0","cfd":"0","Cryptocurrency":"0","net_liquidation":"14,781","unrealized_pnl":"0","realized_pnl":"0","Exchange Rate":"0.0068052"},"USD":{"total_cash":"-401,958","settled_cash":"-401,958","MTD Interest":"-549","stock":"1,691,668","options":"0","futures":"-212","future_options":"0","funds":"0","dividends_receivable":"0","mutual_funds":"0","money_market":"0","bonds":"0","Govt Bonds":"0","t_bills":"0","warrants":"0","issuer_option":"0","commodity":"0","Notional CFD":"0","cfd":"0","Cryptocurrency":"0","net_liquidation":"1,289,161","unrealized_pnl":"253,275","realized_pnl":"0","Exchange Rate":"1.00"},"Total (in USD)":{"total_cash":"-401,646","settled_cash":"-401,646","MTD Interest":"-549","stock":"1,694,154","options":"0","futures":"-212","future_options":"0","funds":"0","dividends_receivable":"0","mutual_funds":"0","money_market":"0","bonds":"0","Govt Bonds":"0","t_bills":"0","warrants":"0","issuer_option":"0","commodity":"0","Notional CFD":"0","cfd":"0","Cryptocurrency":"0","net_liquidation":"1,291,959","unrealized_pnl":"253,896","realized_pnl":"0","Exchange Rate":"1.00"}}}}}}},"400":{"$ref":"#/components/responses/IServerAccountBadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/pnl/partitioned":{"get":{"tags":["Accounts"],"summary":"Account Profit and Loss","responses":{"200":{"description":"Refers to “updated PnL”. Holds a json object of key-value paired pnl details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pnlPartitionedResponse"},"examples":{"success":{"value":{"upnl":{"U1234567.Core":{"rowType":1,"dpl":-12510.0,"nl":1290000.0,"upl":256000.0,"el":824600.0,"mv":1700000.0}}}},"can-be-empty-for-initial-reques":{"value":{"upnl":{}}}}}}},"400":{"$ref":"#/components/responses/IServerAccountBadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/search/{searchPattern}":{"get":{"tags":["Accounts"],"summary":"Search Dynamic Account","description":"Returns a list of accounts matching a query pattern set in the request. Broker accounts configured with the DYNACCT property will not receive account information at login. Instead, they must dynamically query then set their account number. Customers without the DYNACCT property will receive a 503 error.\n","parameters":[{"name":"searchPattern","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","description":"The pattern used to describe credentials to search for. Including part of part of an account ID will return the full value.","example":"U123"}}],"responses":{"200":{"description":"Returns all accounts that match the searchPattern string.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/dynAccountSearchResponse"},"examples":{"successfully-found":{"value":{"matchedAccounts":[{"accountId":"U1234567","alias":"U1234567","allocationId":"U1234567"}],"pattern":"U1"}},"not-found":{"value":{"matchedAccounts":[],"pattern":"123"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account":{"post":{"tags":["Accounts"],"summary":"Switch Account","description":"Switch the active account for how you request data. Only available for financial advisors and multi-account structures.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"acctId":{"type":"string","description":"Identifier for the unique account to retrieve information from.","example":"U1234567"}}}}},"required":true},"responses":{"200":{"description":"Validates the account swapped to.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/setAccountResponse"},"examples":{"successfully-set-account":{"value":{"set":true,"acctId":"U2234567"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Internal Server Error. Unable to process request if incoming values are not valid. For example accountId is not correct\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorOnlyResponse"},"examples":{"invalid-account-id":{"value":{"error":"Invalid account ID"}}}}}},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/accounts":{"get":{"tags":["Session","Accounts"],"summary":"Receive brokerage accounts for the current user.","description":"Returns a list of accounts the user has trading access to, their respective aliases and the currently selected account. Note this endpoint must be called before modifying an order or querying open orders.","responses":{"200":{"description":"An object containing valid accounts and the account properties regarding trading access. This endpoint is also used to confirm account validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/userAccountsResponse"},"examples":{"success":{"value":{"accounts":["All","U1234567","U2234567","U3234567"],"acctProps":{"All":{"hasChildAccounts":false,"supportsCashQty":false,"supportsFractions":false},"U1234567":{"hasChildAccounts":false,"supportsCashQty":true,"supportsFractions":true},"U2234567":{"hasChildAccounts":false,"supportsCashQty":true,"supportsFractions":true},"U3234567":{"hasChildAccounts":false,"supportsCashQty":true,"supportsFractions":true}},"aliases":{"All":"All","U1234567":"U1234567","U2234567":"U2234567","U3234567":"U3234567"},"allowFeatures":{"showGFIS":true,"showEUCostReport":false,"allowEventContract":true,"allowFXConv":true,"allowFinancialLens":true,"allowMTA":false,"allowTypeAhead":true,"allowEventTrading":true,"snapshotRefreshTimeout":30,"liteUser":false,"showWebNews":true,"research":true,"debugPnl":true,"showTaxOpt":true,"showImpactDashboard":true,"allowDynAccount":false,"allowCrypto":false,"allowFA":false,"allowLiteUnderPro":false,"allowedAssetTypes":"STK,CFD,OPT,FOP,WAR,FUT,BAG,PDC,CASH,IND,BOND,BILL,FUND,SLB,News,CMDTY,IOPT,ICU,ICS,PHYSS,CRYPTO"},"chartPeriods":{"STK":["*"],"CFD":["*"],"OPT":["2h","1d","2d","1w","1m"],"FOP":["2h","1d","2d","1w","1m"],"WAR":["*"],"IOPT":["*"],"FUT":["*"],"CASH":["*"],"IND":["*"],"BOND":["*"],"FUND":["*"],"CMDTY":["*"],"PHYSS":["*"],"CRYPTO":["*"]},"groups":["All"],"profiles":[],"selectedAccount":"U1234567","serverInfo":{"serverName":"server","serverVersion":"Build 99.99.9, May 22, 2020 4:19:22 PM"},"sessionId":"65ee8a41.0000001e","isFT":false,"isPaper":true}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/dynaccount":{"post":{"tags":["Accounts"],"summary":"Set Dynamic Account","description":"Set the active dynamic account.","requestBody":{"content":{"application/json":{"schema":{"required":["acctId"],"type":"object","properties":{"acctId":{"type":"string","description":"The account ID that should be set for future requests.","example":"U1234567"}}}}},"required":true},"responses":{"200":{"description":"An array of objects detailing contract information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/setAccountResponse"},"examples":{"successfully-set-account":{"value":{"set":true,"acctId":"U2234567"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/contract/rules":{"post":{"tags":["Contracts"],"summary":"Search Contract Rules","description":"Returns trading related rules for a specific contract and side.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"conid":{"type":"integer","description":"Contract identifier for the interested contract.","format":"int32"},"isBuy":{"type":"boolean","description":"Side of the market rules apply too. Set to true for Buy Orders, set to false for Sell orders.","default":true},"modifyOrder":{"type":"boolean","description":"Used to find trading rules related to an existing order.","default":false},"orderId":{"type":"integer","description":"Specify the order identifier used for tracking a given order.","format":"int32"}}}}},"required":true},"responses":{"200":{"description":"An array of objects detailing contract information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/contractRules"},"examples":{"success":{"value":{"algoEligible":true,"overnightEligible":true,"costReport":false,"canTradeAcctIds":["U1234567","U1234568","U1234569"],"error":null,"orderTypes":["limit","midprice","market","stop","stop_limit","mit","lit","trailing_stop","trailing_stop_limit","relative","marketonclose","limitonclose"],"ibAlgoTypes":["limit","stop_limit","lit","trailing_stop_limit","relative","marketonclose","limitonclose"],"fraqTypes":["limit","market","stop","stop_limit","mit","lit","trailing_stop","trailing_stop_limit"],"forceOrderPreview":false,"cqtTypes":["limit","market","stop","stop_limit","mit","lit","trailing_stop","trailing_stop_limit"],"orderDefaults":{"LMT":{"LP":"198.22"}},"orderTypesOutside":["limit","stop_limit","lit","trailing_stop_limit","relative"],"defaultSize":100,"cashSize":0.0,"sizeIncrement":100,"tifTypes":["IOC/MARKET,LIMIT,RELATIVE,MARKETONCLOSE,MIDPRICE,LIMITONCLOSE,MKT_PROTECT,STPPRT,a","GTC/o,a","OPG/LIMIT,MARKET,a","GTD/o,a","DAY/o,a"],"tifDefaults":{"TIF":"DAY","DEFAULT_ACCT":"U1234567","SIZE":"100.00","PMALGO":true},"limitPrice":198.22,"stopprice":198.22,"orderOrigination":null,"preview":true,"displaySize":null,"fraqInt":4,"cashCcy":"USD","cashQtyIncr":500,"priceMagnifier":null,"negativeCapable":false,"incrementType":1,"incrementRules":[{"lowerEdge":0.0,"increment":0.01}],"hasSecondary":true,"increment":0.01,"incrementDigits":2}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/contract/{conid}/algos":{"get":{"tags":["Contracts"],"summary":"Search Algo Params by Contract ID","description":"Returns supported IB Algos for contract. A pre-flight request must be submitted before retrieving information","parameters":[{"name":"conid","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","description":"Contract identifier for the requested contract of interest."}},{"name":"algos","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string","description":"List of algo ids delimited by “;” to filter by. Max of 8 algos ids can be specified. Case sensitive to algo id.\n","enum":["Adaptive","Vwap"]}},{"name":"addDescription","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"integer","description":"Whether or not to add algo descriptions to response. Set to 1 for yes, 0 for no.","format":"int32","default":0}},{"name":"addParams","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"integer","description":"Whether or not to show algo parameters. Set to 1 for yes, 0 for no.","format":"int32","default":0}}],"responses":{"200":{"description":"Returns a list of available algos and a description of their behavior.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/algosResponse"},"examples":{"success":{"value":{"algos":[{"name":"Adaptive","id":"Adaptive"},{"name":"Arrival Price","id":"ArrivalPx"},{"name":"Close Price","id":"ClosePx"},{"name":"DarkIce","id":"DarkIce"},{"name":"Percentage of Volume","id":"PctVol"},{"name":"Price Variant Percentage of Volume","id":"PctVolPx"},{"name":"Size Variant Percentage of Volume","id":"PctVolSz"},{"name":"TWAP","id":"Twap"},{"name":"Time Variant Percentage of Volume","id":"PctVolTm"},{"name":"VWAP","id":"Vwap"}]}},"success-with-additional-data":{"value":{"algos":[{"name":"Adaptive","id":"Adaptive","parameters":[{"guiRank":1,"defaultValue":"Normal","name":"Adaptive order priority/urgency","id":"adaptivePriority","legalStrings":["Urgent","Normal","Patient"],"required":"true","valueClassName":"String"}]},{"name":"Arrival Price","id":"ArrivalPx","parameters":[{"guiRank":3,"defaultValue":"Neutral","name":"Urgency/Risk aversion","id":"riskAversion","legalStrings":["GetDone","Aggressive","Neutral","Passive"],"required":"true","valueClassName":"String"},{"guiRank":6,"defaultValue":false,"name":"Allow trading past end time","id":"allowPastEndTime","valueClassName":"Boolean"},{"guiRank":7,"defaultValue":false,"name":"Attempt completion by EOD","id":"forceCompletion","valueClassName":"Boolean"},{"guiRank":4,"name":"Start Time","description":"Defaults to start of market trading","id":"startTime","valueClassName":"Time"},{"guiRank":2,"minValue":0.01,"maxValue":50,"name":"Max Percentage","description":"From 0.01 to 50.0","id":"maxPctVol","required":"true","valueClassName":"Double"},{"guiRank":5,"name":"End Time","description":"Defaults to end of market trading","id":"endTime","valueClassName":"Time"}]}]}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/contract/{conid}/info":{"get":{"tags":["Contracts"],"summary":"Contract information by Contract ID","description":"Requests full contract details for the given conid.","parameters":[{"name":"conid","in":"path","required":true,"style":"simple","explode":false,"schema":{"description":"Contract identifier for the requested contract of interest.","example":"265598"}}],"responses":{"200":{"description":"Returns a list of available algos and a description of their behavior.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/contractInfo"},"examples":{"stk-contract-info":{"value":{"cfi_code":"","symbol":"IBM","cusip":null,"expiry_full":null,"con_id":8314,"maturity_date":null,"industry":"Computers","instrument_type":"STK","trading_class":"IBM","valid_exchanges":"SMART,AMEX,NYSE,CBOE,PHLX,ISE,CHX,ARCA,NASDAQ,DRCTEDGE,BEX,BATS,EDGEA,BYX,NYSEDARK,NASDDARK,IEX,EDGX,FOXRIVER,PEARL,NYSENAT,IEXMID,JANELP,IMCLP,LTSE,MEMX,JUMPLP,OLDMCLP,RBCCMALP,IBEOS,GSLP,BLUEOCEAN,OVERNIGHT,JANEMID,G1XLP,PSX","allow_sell_long":false,"is_zero_commission_security":false,"local_symbol":"IBM","contract_clarification_type":null,"classifier":null,"currency":"USD","text":null,"underlying_con_id":0,"r_t_h":true,"multiplier":null,"underlying_issuer":null,"contract_month":null,"company_name":"INTL BUSINESS MACHINES CORP","smart_available":true,"exchange":"SMART","category":"Computer Services"}},"opt-contract-info":{"value":{"cfi_code":"OCXXXS","symbol":"IBM","cusip":null,"expiry_full":"20240315","con_id":685302909,"maturity_date":"20240315","instrument_type":"OPT","trading_class":"IBM","valid_exchanges":"SMART,AMEX,CBOE,PHLX,PSE,ISE,BOX,BATS,NASDAQOM,CBOE2,NASDAQBX,MIAX,GEMINI,EDGX,MERCURY,PEARL,EMERALD,MEMX,IBUSOPT","allow_sell_long":false,"is_zero_commission_security":false,"local_symbol":"IBM   240315C00187500","contract_clarification_type":null,"classifier":null,"currency":"USD","text":"MAR 15 '24 187.5 Call","underlying_con_id":8314,"r_t_h":false,"multiplier":"100","strike":"187.5","right":"CALL","underlying_issuer":null,"contract_month":"202403","company_name":"INTL BUSINESS MACHINES CORP","smart_available":true,"exchange":"SMART"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/contract/{conid}/info-and-rules":{"get":{"tags":["Contracts"],"summary":"Contract information and rules by Contract ID","description":"Requests full contract details for the given conid.","parameters":[{"name":"conid","in":"path","required":true,"style":"simple","explode":false,"schema":{"description":"Contract identifier for the requested contract of interest.","example":"265598"}}],"responses":{"200":{"description":"Returns a list of available algos and a description of their behavior.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/contractInfo"},{"properties":{"rules":{"$ref":"#/components/schemas/contractRules"}}}]},"examples":{"stk":{"value":{"cfi_code":"","symbol":"IBM","cusip":null,"expiry_full":null,"con_id":8314,"maturity_date":null,"industry":"Computers","instrument_type":"STK","trading_class":"IBM","valid_exchanges":"SMART,AMEX,NYSE,CBOE,PHLX,ISE,CHX,ARCA,NASDAQ,DRCTEDGE,BEX,BATS,EDGEA,BYX,NYSEDARK,NASDDARK,IEX,EDGX,FOXRIVER,PEARL,NYSENAT,IEXMID,JANELP,IMCLP,LTSE,MEMX,JUMPLP,OLDMCLP,RBCCMALP,IBEOS,GSLP,BLUEOCEAN,OVERNIGHT,JANEMID,G1XLP,PSX","allow_sell_long":false,"is_zero_commission_security":false,"local_symbol":"IBM","contract_clarification_type":null,"classifier":null,"currency":"USD","text":null,"underlying_con_id":0,"r_t_h":true,"multiplier":null,"underlying_issuer":null,"contract_month":null,"company_name":"INTL BUSINESS MACHINES CORP","smart_available":true,"exchange":"SMART","category":"Computer Services","rules":{"algoEligible":true,"overnightEligible":true,"costReport":false,"canTradeAcctIds":["DUC10000"],"error":null,"orderTypes":["limit","midprice","market","stop","stop_limit","mit","lit","trailing_stop","trailing_stop_limit","relative","marketonclose","limitonclose"],"ibAlgoTypes":["limit","stop_limit","lit","trailing_stop_limit","relative","marketonclose","limitonclose"],"fraqTypes":["limit","market","stop","stop_limit","mit","lit","trailing_stop","trailing_stop_limit"],"forceOrderPreview":false,"cqtTypes":["limit","market","stop","stop_limit","mit","lit","trailing_stop","trailing_stop_limit"],"orderDefaults":{"MKT":{}},"orderTypesOutside":["limit","stop_limit","lit","trailing_stop_limit","relative"],"defaultSize":100,"cashSize":0.0,"sizeIncrement":100,"tifTypes":["IOC/MARKET,LIMIT,RELATIVE,MARKETONCLOSE,MIDPRICE,LIMITONCLOSE,MKT_PROTECT,STPPRT,a","GTC/o,a","OPG/LIMIT,MARKET,a","GTD/o,a","DAY/o,a"],"tifDefaults":{"TIF":"DAY","SIZE":"100.00"},"limitPrice":196.88,"stopprice":196.88,"orderOrigination":null,"preview":true,"displaySize":null,"fraqInt":4,"cashCcy":"USD","cashQtyIncr":500,"priceMagnifier":null,"negativeCapable":false,"incrementType":1,"incrementRules":[{"lowerEdge":0.0,"increment":0.01}],"hasSecondary":true,"increment":0.01,"incrementDigits":2}}},"option":{"value":{"cfi_code":"OCXXXS","symbol":"IBM","cusip":null,"expiry_full":"20240315","con_id":685302909,"maturity_date":"20240315","instrument_type":"OPT","trading_class":"IBM","valid_exchanges":"SMART,AMEX,CBOE,PHLX,PSE,ISE,BOX,BATS,NASDAQOM,CBOE2,NASDAQBX,MIAX,GEMINI,EDGX,MERCURY,PEARL,EMERALD,MEMX,IBUSOPT","allow_sell_long":false,"is_zero_commission_security":false,"local_symbol":"IBM   240315C00187500","contract_clarification_type":null,"classifier":null,"currency":"USD","text":"MAR 15 '24 187.5 Call","underlying_con_id":8314,"r_t_h":false,"multiplier":"100","strike":"187.5","right":"CALL","underlying_issuer":null,"contract_month":"202403","company_name":"INTL BUSINESS MACHINES CORP","smart_available":true,"exchange":"SMART","rules":{"algoEligible":true,"overnightEligible":false,"costReport":false,"canTradeAcctIds":["DUC10000"],"error":null,"orderTypes":["limit","market","stop","stop_limit","mit","lit","trailing_stop","trailing_stop_limit","relative"],"ibAlgoTypes":["limit","stop_limit","lit","trailing_stop_limit","relative"],"fraqTypes":[],"forceOrderPreview":false,"cqtTypes":[],"orderDefaults":{"LMT":{"LP":"empty"}},"orderTypesOutside":[],"defaultSize":1,"cashSize":0.0,"sizeIncrement":1,"tifTypes":["IOC/MARKET,LIMIT,RELATIVE,MARKETONCLOSE,MIDPRICE,LIMITONCLOSE,MKT_PROTECT,STPPRT,a","GTC/o,a","GTD/o,a","DAY/o,a"],"tifDefaults":{"TIF":"DAY","SIZE":"1.00"},"limitPrice":null,"stopprice":null,"orderOrigination":null,"preview":true,"displaySize":null,"fraqInt":0,"cashCcy":"USD","cashQtyIncr":null,"priceMagnifier":null,"negativeCapable":false,"incrementType":1,"incrementRules":[{"lowerEdge":0.0,"increment":0.01}],"hasSecondary":true,"increment":0.01,"incrementDigits":2}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/currency/pairs":{"get":{"tags":["Contracts"],"description":"Obtains available currency pairs corresponding to the given target currency.","parameters":[{"name":"currency","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Specify the target currency you would like to receive official pairs of.","example":"USD"}}],"responses":{"200":{"description":"Returns a list of valid forex pairs for the given currency. The currency can apply as both the target or base currency.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/currencyPairs"},"examples":{"USD":{"value":{"USD":[{"symbol":"USD.SGD","conid":37928772,"ccyPair":"SGD"},{"symbol":"USD.RON","conid":38231133,"ccyPair":"RON"},{"symbol":"USD.CZK","conid":34838409,"ccyPair":"CZK"}]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/exchangerate":{"get":{"tags":["Contracts"],"summary":"Currency Exchange Rate","description":"Obtains the exchange rates of the currency pair.","parameters":[{"name":"target","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Specify the quote currency to request data for.","example":"EUR"}},{"name":"source","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Specify the base currency to request data for.","example":"USD"}}],"responses":{"200":{"description":"Successful requests return the currency exchange rate of the target currency value divided by the source currency.","content":{"application/json":{"schema":{"properties":{"rate":{"type":"number","description":"Returns the exchange rate for the currency pair."}}},"examples":{"rate":{"value":{"rate":0.91324199}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/secdef/bond-filters":{"get":{"tags":["Contracts"],"summary":"Search Bond Filter Information","description":"Request a list of filters relating to a given Bond issuerID. The issuerId is retrieved from /iserver/secdef/search and can be used in /iserver/secdef/info?issuerId={issuerId} for retrieving conIds.","parameters":[{"name":"symbol","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"This should always be set to “BOND”","example":"BOND"}},{"name":"issueId","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Specifies the issuerId value used to designate the bond issuer type.","example":"e1400715"}}],"responses":{"200":{"description":"Successful requests return the currency exchange rate of the target currency value divided by the source currency.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/bondFiltersResponse"},"examples":{"bond-filter":{"value":{"bondFilters":[{"displayText":"Maturity Date","columnId":27,"options":[{"text":"Jan 2025","value":"202501"},{"text":"Dec 2028","value":"202812"}]},{"displayText":"Issue Date","columnId":28,"options":[{"text":"Sep 18 2014","value":"20140918"},{"text":"Apr 09 2015","value":"20150409"}]},{"displayText":"Coupon","columnId":25,"options":[{"value":"1.301"},{"value":"1.34"}]},{"displayText":"Currency","columnId":5,"options":[{"value":"EUR"},{"value":"USD"}]}]}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/secdef/info":{"get":{"tags":["Contracts"],"summary":"SecDef info","description":"SecDef info","parameters":[{"name":"conid","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"Contract identifier of the underlying. May also pass the final derivative conid directly.","example":"265598"}},{"name":"sectype","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"Security type of the requested contract of interest."}},{"name":"month","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"Expiration month for the given derivative."}},{"name":"exchange","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"Designate the exchange you wish to receive information for in relation to the contract."}},{"name":"strike","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"Set the strike price for the requested contract details"}},{"name":"right","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"Set the right for the given contract. * `C` - for Call options. * `P` - for Put options.\n","enum":["C","P"]}},{"name":"issuerId","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"Set the issuerId for the given bond issuer type.","example":"“e1234567”"}},{"name":"filters","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"comma separted list of additional filters. Applicable when SecTyp is BOND"}}],"responses":{"200":{"description":"Successful response containing a contract's security definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/secDefInfoResponse"},"examples":{"infoBy-symbol-exchange-conid":{"value":{"conid":8314,"ticker":"IBM","secType":"STK","listingExchange":"NYSE","exchange":"SMART","companyName":"INTL BUSINESS MACHINES CORP","currency":"USD","validExchanges":"SMART,AMEX,NYSE,CBOE,PHLX,ISE,CHX,ARCA,NASDAQ,DRCTEDGE,BEX,BATS,EDGEA,BYX,NYSEDARK,NASDDARK,IEX,EDGX,FOXRIVER,PEARL,NYSENAT,IEXMID,JANELP,IMCLP,LTSE,MEMX,JUMPLP,OLDMCLP,RBCCMALP,IBEOS,GSLP,BLUEOCEAN,OVERNIGHT,JANEMID,G1XLP,PSX","priceRendering":null,"maturityDate":null,"right":"?","strike":0.0}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/secdef/search":{"get":{"tags":["Contracts"],"summary":"Returns a list of contracts based on symbol.","description":"Returns a list of contracts based on the search symbol provided as a query param.","parameters":[{"name":"symbol","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string","description":"The ticker symbol, bond issuer type, or company name of the equity you are looking to trade.","example":"AAPL"}},{"name":"secType","in":"query","description":"Available underlying security types:\n  * `STK` - Represents an underlying as a Stock security type.\n  * `IND` - Represents an underlying as an Index security type.\n  * `BOND` - Represents an underlying as a Bond security type.\n","required":false,"style":"form","explode":false,"schema":{"type":"string","default":"STK","enum":["STK","IND","BOND"]}},{"name":"name","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"boolean","description":"Denotes if the symbol value is the ticker symbol or part of the company's name."}},{"name":"more","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"boolean"}},{"name":"fund","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"boolean","description":"fund search"}},{"name":"fundFamilyConidEx","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}},{"name":"pattern","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"boolean","description":"pattern search"}},{"name":"referrer","in":"query","required":false,"style":"form","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"An array of objects detailing contract information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/secdefSearchResponse"},"examples":{"found":{"value":[{"conid":"8314","companyHeader":"INTL BUSINESS MACHINES CORP - NYSE","companyName":"INTL BUSINESS MACHINES CORP","symbol":"IBM","description":"NYSE","restricted":null,"fop":null,"opt":"20240315;20240322;20240328;20240405;20240412;20240419;20240426;20240517;20240621;20240719;20240920;20241018;20250117;20250620;20260116","war":"20240208;20240213;20240214;20240215;20240216;20240222;20240226;20240227;20240228;20240229;20240301;20240304;20240305;20240306;20240307;20240308;20240311;20240312;20240313;20240314;20240315;20240416;20240418;20240514;20240516;20240618;20240619;20240620;20240621;20240718;20240917;20240918;20240919;20240920;20241017;20241217;20241218;20241219;20241220;20250114;20250115;20250116;20250117;20250319;20250320;20250617;20250618;20250619;20250620;20250918;20251216;20251218;20260113;20260115","sections":[{"secType":"STK"},{"secType":"OPT","months":"MAR24;APR24;MAY24;JUN24;JUL24;SEP24;OCT24;JAN25;JUN25;JAN26","exchange":"SMART;AMEX;BATS;BOX;CBOE;CBOE2;EDGX;EMERALD;GEMINI;IBUSOPT;ISE;MEMX;MERCURY;MIAX;NASDAQBX;NASDAQOM;PEARL;PHLX;PSE"},{"secType":"WAR","months":"FEB24;MAR24;APR24;MAY24;JUN24;JUL24;SEP24;OCT24;DEC24;JAN25;MAR25;JUN25;SEP25;DEC25;JAN26","exchange":"EBS;FWB;GETTEX;SBF;SWB"},{"secType":"IOPT"},{"secType":"CFD","exchange":"SMART","conid":"118239202"},{"secType":"BAG"}]},{"conid":"41645598","companyHeader":"INTL BUSINESS MACHINES CORP - LSE","companyName":"INTL BUSINESS MACHINES CORP","symbol":"IBM","description":"LSE","restricted":null,"fop":null,"opt":null,"war":null,"sections":[{"secType":"STK"}]},{"issuers":[{"id":"e5499005","name":"IBM International Capital Pte Ltd"},{"id":"e1580374","name":"IBM-CALL"},{"id":"e1400789","name":"International Business Machines Corp"},{"id":"e1658116","name":"Truven Health Analytics Inc"}],"bondid":5,"conid":"2147483647","companyHeader":"Corporate Fixed Income","companyName":null,"symbol":null,"description":null,"restricted":null,"fop":null,"opt":null,"war":null,"sections":[{"secType":"BOND"}]}]}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}},"post":{"tags":["Contracts"],"summary":"Returns a list of contracts based on symbol.","description":"Returns a list of contracts based on the search symbol provided as a query param.","requestBody":{"content":{"application/json":{"schema":{"required":["symbol"],"type":"object","properties":{"symbol":{"type":"string","description":"The ticker symbol, bond issuer type, or company name of the equity you are looking to trade.","example":"AAPL"},"secType":{"type":"string","description":"Available underlying security types:\n  * `STK` - Represents an underlying as a Stock security type.\n  * `IND` - Represents an underlying as an Index security type.\n  * `BOND` - Represents an underlying as a Bond security type.\n","default":"STK","enum":["STK","IND","BOND"]},"name":{"type":"boolean","description":"Denotes if the symbol value is the ticker symbol or part of the company's name."},"more":{"type":"boolean"},"fund":{"type":"boolean","description":"fund search"},"fundFamilyConidEx":{"type":"string"},"pattern":{"type":"boolean","description":"pattern search"},"referrer":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"An array of objects detailing contract information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/secdefSearchResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/secdef/strikes":{"get":{"tags":["Contracts"],"summary":"Get strikes","description":"strikes","parameters":[{"name":"conid","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Contract identifier of the underlying. May also pass the final derivative conid directly.","example":"265598"}},{"name":"sectype","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Security type of the requested contract of interest.","example":"OPT"}},{"name":"month","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Expiration month for the given derivative.","example":"JAN24"}},{"name":"exchange","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"Exchange from which derivatives should be retrieved from.","example":"NASDAQ","default":"SMART"}}],"responses":{"200":{"description":"Successful response containing a contract's security definition.","content":{"application/json":{"schema":{"properties":{"call":{"type":"array","description":"Array containing a series of comma separated values representing potential call strikes for the instrument.","items":{"type":"number","description":"strike price"}},"put":{"type":"array","description":"Array containing a series of comma separated values representing potential put strikes for the instrument.","items":{"type":"number","description":"strike price"}}}},"examples":{"strikes":{"value":{"call":[70.0,75.0,80.0,85.0,90.0,95.0,100.0],"put":[70.0,75.0,80.0,85.0,90.0,95.0,100.0]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/trsrv/all-conids":{"get":{"tags":["Contracts"],"summary":"All Conids by Exchange","description":"Send out a request to retrieve all contracts made available on a requested exchange. This returns all contracts that are tradable on the exchange, even those that are not using the exchange as their primary listing.","parameters":[{"name":"exchange","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Exchange from which derivatives should be retrieved from.","example":"AMEX"}},{"name":"assetClass","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"asset class","default":"STK"}}],"responses":{"200":{"description":"Successful response containing a contract's security definition.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"ticker":{"type":"string","description":"The ticker symbol of the contract."},"conid":{"type":"integer","description":"The contract identifier of the returned contract.","format":"int32"},"exchange":{"type":"string","description":"The primary exchange of the returned contract."}}}},"examples":{"response":{"value":[{"ticker":"BMO","conid":5094,"exchange":"NYSE"},{"ticker":"BNS","conid":15156975,"exchange":"NYSE"}]}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/trsrv/futures":{"get":{"tags":["Contracts"],"summary":"Future  Security Definition By Symbol","description":"Returns a list of non-expired future contracts for given symbol(s)","parameters":[{"name":"symbols","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Indicate the symbol(s) of the underlier you are trying to retrieve futures on. Accepts comma delimited string of symbols.","example":"ES,MES"}},{"name":"exchange","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"exchange"}}],"responses":{"200":{"description":"Successful response containing a contract's security definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/features"},"examples":{"futures":{}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/trsrv/secdef":{"get":{"tags":["Contracts"],"summary":"Search the security definition by Contract ID","description":"Returns a list of security definitions for the given conids.","parameters":[{"name":"conids","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"A comma separated series of contract IDs.","example":"265598,8314"}},{"name":"criteria","in":"query","required":false,"style":"form","explode":false},{"name":"bondp","in":"query","required":false,"style":"form","explode":false}],"responses":{"200":{"description":"Successful response containing a contract's security definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/trsrvSecDefResponse"},"examples":{"response":{"value":{"secdef":[{"incrementRules":[{"lowerEdge":0.0,"increment":0.01}],"displayRule":{"magnification":0,"displayRuleStep":[{"decimalDigits":2,"lowerEdge":0.0,"wholeDigits":4}]},"conid":8314,"currency":"USD","time":770,"chineseName":"&#x56FD;&#x9645;&#x5546;&#x4E1A;&#x673A;&#x5668;","allExchanges":"AMEX,NYSE,CBOE,PHLX,CHX,ARCA,ISLAND,ISE,IDEAL,NASDAQQ,REALNYSE,DRCTEDGE,BEX,BATS,NITEECN,EDGEA,CSFBALGO,PSX,BYX,ITG,PDQ,IBKRATS,NYSEFLOOR,CITADEL,NYSEDARK,MIAX,IBDARK,CITADELDP,NASDDARK,IEX,WEDBUSH,SUMMER,WINSLOW,FINRA,LIQITG,UBSDARK,BTIG,VIRTU,JEFF,OPCO,COWEN,DBK,JPMC,EDGX,JANE,NEEDHAM,FRACSHARE,RBCALGO,VIRTUDP,BAYCREST,FOXRIVER,MND,NITEEXST,PEARL,GSDARK,NITERTL,NYSENAT,IEXMID,HRT,FLOWTRADE,HRTDP,JANELP,PEAK6,CTDLZERO,HRTMID,JANEZERO,HRTEXST,IMCLP,LTSE,SOCGENDP,MEMX,INTELCROS,VIRTUBYIN,JUMPTRADE,NITEZERO,TPLUS1,XTXEXST,XTXDP,XTXMID,COWENLP,BARCDP,JUMPLP,OLDMCLP,RBCCMALP,WALLBETH,IBEOS,JONES,GSLP,BLUEOCEAN,USIBSILP,OVERNIGHT,JANEMID,IBATSEOS,HRTZERO,VIRTUALGO,G1XLP,VIRTUMID,GLOBALXLP,CTDLMID,TPLUS0","listingExchange":"NYSE","countryCode":"US","name":"INTL BUSINESS MACHINES CORP","assetClass":"STK","expiry":null,"lastTradingDay":null,"group":"Computers","putOrCall":null,"sector":"Technology","sectorGroup":"Computer Services","strike":"0","ticker":"IBM","undConid":0,"multiplier":0.0,"type":"COMMON","hasOptions":true,"fullName":"IBM","isUS":true,"isEventContract":false}]}}}}}},"204":{"$ref":"#/components/responses/NoContent"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/trsrv/secdef/schedule":{"get":{"tags":["Contracts"],"summary":"Trading Schedule by Symbol","description":"Returns the trading schedule up to a month for the requested contract.","parameters":[{"name":"assetClass","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Specify the security type of the given contract. Valid asset classes are:\n * `STK` - Stock\n * `OPT` - Option\n * `FUT` - Future\n * `CFD` - Contract for Difference\n * `WAR` - Warrant\n * `SWP` - Forex\n * `FND` - Mutual Fund\n * `BND` - Bond\n * `ICS` - Inter-Commodity Spread\n","enum":["STK","OPT","FUT","CFD","WAR","SWP","FND","BND","ICS"]}},{"name":"symbol","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Specify the symbol for your contract.","example":"AAPL"}},{"name":"exchange","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"Specify the primary exchange of your contract.","example":"NASDAQ"}},{"name":"exchangeFilter","in":"query","required":false,"style":"form","explode":false,"schema":{"description":"Specify all exchanges you want to retrieve data from.","example":"AMEX,NASDAQ,NYSE"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tradingSchedule"},"examples":{"ibm-nyse":{}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/trsrv/stocks":{"get":{"tags":["Contracts"],"summary":"Stock Security Definition By Symbol","description":"Returns an object contains all stock contracts for given symbol(s)","parameters":[{"name":"symbols","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Comma-separated list of stock symbols. Symbols must contain only capitalized letters.","example":"AAPL,IBKR"}}],"responses":{"200":{"description":"Successful response containing a contract's security definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/stocks"},"examples":{"ibm":{"value":{"IBM":[{"name":"INTL BUSINESS MACHINES CORP","chineseName":"&#x56FD;&#x9645;&#x5546;&#x4E1A;&#x673A;&#x5668;","assetClass":"STK","contracts":[{"conid":8314,"exchange":"NYSE","isUS":true},{"conid":1411277,"exchange":"IBIS","isUS":false},{"conid":38709473,"exchange":"MEXI","isUS":false},{"conid":41645598,"exchange":"LSE","isUS":false}]},{"name":"INTL BUSINESS MACHINES C-CDR","chineseName":"&#x56FD;&#x9645;&#x5546;&#x4E1A;&#x673A;&#x5668;","assetClass":"STK","contracts":[{"conid":530091934,"exchange":"AEQLIT","isUS":false}]}]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/allocation/accounts":{"get":{"tags":["FA Allocation Management"],"summary":"Allocatable Sub-Accounts","description":"Retrieves a list of all sub-accounts and returns their net liquidity and available equity for advisors to make decisions on what accounts should be allocated and how.","responses":{"200":{"description":"Indicates data is being returned successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/subAccounts"},"examples":{"2-sub-accounts":{"value":{"accounts":[{"data":[{"value":"230013224.04","key":"NetLiquidation"},{"value":"229617260.41","key":"AvailableEquity"}],"name":"U1234567"},{"data":[{"value":"229453917.57","key":"NetLiquidation"},{"value":"229153196.12","key":"AvailableEquity"}],"name":"U1234568"}]}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/allocation/group":{"get":{"tags":["FA Allocation Management"],"summary":"List All Allocation Groups","description":"Retrieves a list of all of the advisor’s allocation groups. This describes the name of the allocation group, number of subaccounts within the group, and the method in use for the group.","responses":{"200":{"description":"Returns the \"data\" array, which contains all allocation groups under the advisor account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/allocationGroups"},"examples":{"groups":{"value":{"data":[{"allocation_method":"E","size":16,"name":"group_1"},{"allocation_method":"N","size":3,"name":"group_2"}]}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}},"put":{"tags":["FA Allocation Management"],"summary":"Modify Allocation Group","description":"Modify an existing allocation group.","requestBody":{"content":{"application/json":{"schema":{"required":["accounts","default_method","name"],"type":"object","properties":{"name":{"type":"string","description":"Name used to refer to your allocation group. If prev_name is specified, this will become the new name of the group.","example":"Group_1_NetLiq"},"prev_name":{"type":"string","description":"Can be used to rename a group. Using this field will recognize the previous name, while the \"name\" filed will mark the updated name.","example":"Group_0_NetLiq"},"accounts":{"type":"array","description":"An array of accounts that should be held in the allocation group and, if using a User-specified allocaiton method, the value correlated to the allocation."},"default_method":{"$ref":"#/components/schemas/allocationMethod"}}},"examples":{"Shares":{"value":{"name":"Group_1_Shares","previous_name":"Group_0_Shares","amount":15,"default_method":"S","accounts":{"name":"U456789","amount":3}}},"NetLiq":{"value":{"name":"Group_1_NetLiq","default_method":"N"}},"EqualQty":{"value":{"name":"Group_1_Equal","default_method":"E"}}}}},"required":true},"responses":{"200":{"description":"Returns a confirmation that the modification was successful.","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}},"post":{"tags":["FA Allocation Management"],"summary":"Add Allocation Group","description":"Add a new allocation group. This group can be used to trade in place of the {accountId} for the /iserver/account/{accountId}/orders endpoint.","requestBody":{"content":{"application/json":{"schema":{"required":["accounts","default_method","name"],"type":"object","properties":{"name":{"type":"string","description":"Name used to refer to your allocation group. If prev_name is specified, this will become the new name of the group.","example":"Group_1_NetLiq"},"accounts":{"type":"array","description":"An array of accounts that should be held in the allocation group and, if using a User-specified allocaiton method, the value correlated to the allocation."},"default_method":{"$ref":"#/components/schemas/allocationMethod"}}},"examples":{"Shares":{"value":{"name":"Group_1_Shares","default_method":"S","accounts":[{"name":"U456789","amount":4},{"name":"U123456","amount":1}]}},"NetLiq":{"value":{"name":"Group_1_NetLiq","default_method":"N","accounts":[{"name":"U456789"},{"name":"U123456"}]}},"EqualQty":{"value":{"name":"Group_1_Equal","default_method":"E","accounts":[{"name":"U456789"},{"name":"U123456"}]}}}}},"required":true},"responses":{"200":{"description":"Returns a confirmation that the modification was successful.","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/allocation/group/delete":{"post":{"tags":["FA Allocation Management"],"summary":"Remove Allocation Group","requestBody":{"content":{"application/json":{"schema":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Name of an existing allocation group.","example":"Group_1_NetLiq"}}}}},"required":true},"responses":{"200":{"description":"Returns a confirmation that the modification was successful.","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean"}}},"examples":{"success":{"value":{"success":true}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/allocation/group/single":{"post":{"tags":["FA Allocation Management"],"summary":"Retrieve Single Allocation Group","description":"Retrieves the configuration of a single account group. This describes the name of the allocation group, the specific accounts contained in the group, and the allocation method in use along with any relevant quantities.","requestBody":{"content":{"application/json":{"schema":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Name of an existing allocation group.","example":"Group_1_NetLiq"}}}}},"required":true},"responses":{"200":{"description":"Returns details of the allocation group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/allocationGroup"},"examples":{"single-group":{"value":{"name":"group1","accounts":[{"name":"U1234567"},{"name":"U1234568"}],"default_method":"E"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/account/allocation/presets":{"get":{"tags":["FA Allocation Management"],"summary":"Retrieve Allocation Presets","description":"Retrieve the preset behavior for allocation groups for specific events.","responses":{"200":{"description":"Successfully retrieve preset details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/presets"},"examples":{"presents":{"value":{"group_auto_close_positions":false,"default_method_for_all":"AvailableEquity","profiles_auto_close_positions":false,"strict_credit_check":false,"group_proportional_allocation":false}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}},"post":{"tags":["FA Allocation Management"],"summary":"Set the Allocation Presets","description":"Set the preset behavior for new allocation groups for specific events.","requestBody":{"content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/presets"}}},"required":true},"responses":{"200":{"description":"Successfully retrieve preset details","content":{"application/json":{"schema":{"properties":{"success":{"type":"boolean","description":"Signifies that the request was successfully submitted."}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/fyi/deliveryoptions":{"get":{"tags":["FYIs and Notifications"],"summary":"Get Delivery OptionsCopy Location","description":"Options for sending fyis to email and other devices.","responses":{"200":{"description":"Successfully retrieve preset details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/deliveryOptions"},"examples":{"delivery-options":{"value":{"E":[{"NM":"iPhone","I":"apn://mtws@SDFSDFDSFS123123DSFSDF","UI":"apn://mtws@SDFSDFDSFS123123DSFSDF","A":1}],"M":1}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/fyi/deliveryoptions/device":{"put":{"tags":["FYIs and Notifications"],"summary":"Enable/Disable Device Option","description":"Choose whether a particular device is enabled or disabled.","parameters":[{"name":"typecode","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/typecodes"}}],"responses":{"200":{"description":"Successfully retrieve preset details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/fyiVT"}}}}}}},"/fyi/deliveryoptions/{deviceId}":{"delete":{"tags":["FYIs and Notifications"],"summary":"Delete a Device","description":"Delete a specific device from our saved list of notification devices.","parameters":[{"name":"deviceId","in":"path","required":true,"style":"simple","explode":false,"schema":{"description":"Display the device identifier to delete from IB’s saved list. Can be retrieved from /fyi/deliveryoptions.\n"}}],"responses":{"200":{"description":"No response message is returned. Instead, you will only receive an empty string with a 200 OK status code indicating a successfully deleted account."}}}},"/fyi/deliveryoptions/email":{"put":{"tags":["FYIs and Notifications"],"summary":"Enable/Disable Email Option","description":"Enable or disable your account’s primary email to receive notifications.","parameters":[{"name":"enabled","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Enable or disable your email. Value format: true: Enable; false: Disable\n"}}],"responses":{"200":{"description":"Successfully enabled or disabled your email notifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/fyiVT"}}}}}}},"/fyi/disclaimer/{typecode}":{"get":{"tags":["FYIs and Notifications"],"summary":"Get disclaimer for a certain kind of fyi","description":"Receive additional disclaimers based on the specified typecode.","parameters":[{"name":"typecode","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/typecodes"}}],"responses":{"200":{"description":"Successfully retrieve preset details","content":{"application/json":{"schema":{"properties":{"FC":{"type":"string","description":"Returns the Typecode for the given disclaimer."},"DT":{"type":"string","description":"Returns the Disclaimer message."}}},"examples":{"ba-disclaimer":{"value":{"DT":"This communication is provided for information purposes only and is not a recommendation or a solicitation to buy, sell or hold any investment product. Selling securities short involves significant risk and you may lose more than you invest.","FC":"BA"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}},"put":{"tags":["FYIs and Notifications"],"summary":"Mark Disclaimer Read","description":"Mark a specific disclaimer message as read.","parameters":[{"name":"typecode","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/typecodes"}}],"responses":{"200":{"description":"Successfully retrieve preset details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/fyiVT"}}}}}}},"/fyi/notifications":{"get":{"tags":["FYIs and Notifications"],"summary":"Get a list of notifications","description":"Get a list of available notifications.","parameters":[{"name":"max","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Specify the maximum number of notifications to receive. Can request a maximum of 10 notifications.\n","example":10}}],"responses":{"200":{"description":"Successfully enabled or disabled your email notifications.","content":{"application/json":{"schema":{"properties":{"D":{"type":"string","description":"Notification date as an epoch string.","example":"1702469440.0"},"ID":{"type":"string","description":"Unique way to reference the notification.","example":"2023121370119463"},"FC":{"type":"string","description":"FYI code, we can use it to find whether the disclaimer is accepted or not in settings","example":"OE"},"MD":{"type":"string","description":"Content of notification.","example":"One or more option contracts in your portfolio are set to expire shortly.  <br> - QQQ 15DEC2023 385 P in Account(Qty): U****7890(6) <br> - QQQ 15DEC2023 387 P in Account(Qty): D****0685(-6) <br>  <br>Please use the Option Rollover tool to roll existing contracts into contracts with an expiration, strike and price condition of your preference."},"MS":{"type":"string","description":"Title of notification.","example":"IBKR FYI: Option Expiration Notification"},"R":{"type":"string","description":"Return if the notification was read or not. Value Format: 0: Disabled; 1: Enabled.\n","example":"0"}}}}}}}}},"/fyi/notifications/{notificationID}":{"put":{"tags":["FYIs and Notifications"],"summary":"Mark Notification Read","description":"Mark a particular notification message as read or unread.","parameters":[{"name":"notificationId","in":"path","required":true,"style":"simple","explode":false,"schema":{"description":"Code used to signify a specific notification to mark. Value received from /fyi/notifications"}}],"responses":{"200":{"description":"Successfully enabled or disabled your email notifications.","content":{"application/json":{"schema":{"properties":{"V":{"type":"integer","description":"Returns 1 to state message was acknowledged.","format":"int32","example":1},"T":{"type":"integer","description":"Returns the time in ms to complete the edit.","format":"int32","example":10},"P":{"type":"object","properties":{"R":{"type":"integer","description":"Returns if the message was read (1) or unread (0).","format":"int32","example":1},"ID":{"type":"string","description":"Returns the ID for the notification.","example":"12345678901234567"}},"description":"Returns details about the notification read status."}}}}}}}}},"/fyi/settings":{"get":{"tags":["FYIs and Notifications"],"summary":"Get Notification Settings","description":"Return the current choices of subscriptions for notifications.","responses":{"200":{"description":"Indicates data is being returned successfully.","content":{"application/json":{"schema":{"properties":{"A":{"type":"integer","description":"Returns ony if the subscription can be disabled/enabled manually. See /fyi/settings/{typecode} for how to enable/disable.\n","format":"int32"},"FC":{"type":"string","description":"Fyi code for enabling or disabling the notification.","example":"M8"},"H":{"type":"integer","description":"Disclaimer if the notification was read.","format":"int32","example":0},"FD":{"type":"string","description":"Returns a detailed description of the topic.","example":"Notify me when I establish position subject to US dividend tax withholding 871(m) rules."},"FN":{"type":"string","description":"Returns a human readable title for the notification.","example":"871(m) Trades"}}}}}}}}},"/fyi/settings/{typecode}":{"post":{"tags":["FYIs and Notifications"],"summary":"Modify FYI Notifications","description":"Enable or disable the specific typecode settings.","parameters":[{"name":"typecode","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/typecodes"}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"enabled":{"type":"boolean","description":"the notification should be enabled or disabled."}}}}},"required":true},"responses":{"200":{"description":"Successfully retrieve preset details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/fyiVT"}}}}}}},"/fyi/unreadnumber":{"get":{"tags":["FYIs and Notifications"],"summary":"Unread Bulletins","description":"Returns the total number of unread notifications","responses":{"200":{"description":"Indicates data is being returned successfully.","content":{"application/json":{"schema":{"properties":{"BN":{"type":"integer","description":"Returns the number of unread bulletins.","format":"int32"}}},"examples":{"unreadnumber":{}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"423":{"description":"Return if called too frequently. Should not be called more than 1 time in 5 minutes","content":{"application/json":{"schema":{"properties":{"status":{"type":"string"}}}}}},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}}}},"/iserver/marketdata/snapshot":{"get":{"tags":["Market Data"],"summary":"Live Market Data Snapshot","description":"Get Market Data for the given conid(s). A pre-flight request must be made prior to ever receiving data. For some fields, it may take more than a few moments to receive information. See response fields for a list of available fields that can be request via fields argument. The endpoint /iserver/accounts must be called prior to /iserver/marketdata/snapshot. For derivative contracts the endpoint /iserver/secdef/search must be called first.\n","parameters":[{"name":"conids","in":"query","required":true,"style":"form","explode":false,"schema":{"description":"Contract identifier for the contract of interest. May provide a comma-separated series of contract identifiers.\n","example":265598}},{"name":"fields","in":"query","required":false,"style":"form","explode":false,"schema":{"$ref":"#/components/schemas/mdFields"}}],"responses":{"200":{"description":"Successfully enabled or disabled your email notifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/fyiVT"}}}}}}},"/iserver/watchlist":{"post":{"tags":["Watchlists"],"summary":"Create a watchlist to monitor a set of instruments.","description":"Create a named watchlist by submitting a set of conids.","requestBody":{"description":"Watchlist contents.","content":{"application/json":{"schema":{"required":["id","name","rows"],"type":"object","properties":{"id":{"type":"string","description":"Must be a number, digits 0-9 only. Must be unique relative to other watchlist IDs."},"name":{"type":"string","description":"Arbitrary human-readable name to be displayed in TWS and Client Portal."},"rows":{"uniqueItems":true,"type":"array","description":"Array of JSON objects corresponding to watchlist rows, one per instruments."}}}}},"required":true},"responses":{"200":{"description":"Watchlist creation successful.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The submitted watchlist ID."},"hash":{"type":"string","description":"IB's internal hash of the submitted watchlist."},"name":{"type":"string","description":"The submitted human-readable watchlist name."},"readOnly":{"type":"boolean","description":"Indicates whether watchlist is write-restricted. User-created watchlists will always show false."},"instruments":{"maxItems":0,"type":"array","description":"Array will always be empty. Contents can be queried via GET /iserver/watchlist?id=","items":{"type":"string"}}}}}}}}}}},"components":{"schemas":{"errorResponse":{"type":"object","properties":{"error":{"type":"string","description":"error reason"},"statusCode":{"type":"string","description":"mimic response status code"}}},"errorOnlyResponse":{"type":"object","properties":{"error":{"type":"string","description":"error reason"}}},"secdefSearchResponse":{"type":"array","items":{"type":"object","properties":{"bondid":{"type":"integer","description":"applicable for bonds","format":"int32"},"conid":{"type":"string","description":"Contract identifier for the unique contract."},"companyHeader":{"type":"string","description":"Company Name - Exchange"},"companyName":{"type":"string","description":"Formal name of the company."},"symbol":{"type":"string","description":"Underlying ticker symbol."},"description":{"type":"string","description":"Primary exchange of the contract"},"restricted":{"type":"boolean","description":"Returns if the contract is available for trading.","nullable":true},"fop":{"type":"string","description":"Returns a string of dates, separated by semicolons.","nullable":true},"opt":{"type":"string","description":"Returns a string of dates, separated by semicolons.","nullable":true},"war":{"type":"string","description":"Returns a string of dates, separated by semicolons.","nullable":true},"sections":{"type":"array","items":{"type":"object","properties":{"secType":{"type":"string"},"months":{"type":"string","description":"semicolon separated list of months"},"exchange":{"type":"string","description":"semicolon separated list of exchanges"}}}},"issuers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}}}}}},"contractRules":{"type":"object","properties":{"algoEligible":{"type":"boolean","description":"Indicates if the contract can trade algos or not."},"overnightEligible":{"type":"boolean","description":"Indicates if outsideRTH trading is permitted for the instrument"},"costReport":{"type":"boolean","description":"Indicates whether or not a cost report has been requested (Client Portal only)."},"canTradeAcctIds":{"type":"array","description":"Indicates permitted accountIDs that may trade the contract.","items":{"type":"string"}},"error":{"type":"string","description":"If rules information can not be received for any reason, it will be expressed here.","nullable":true},"orderTypes":{"type":"array","description":"Indicates permitted order types for use with standard quantity trading.","items":{"type":"string","enum":["limit","midprice","market","stop","stop_limit","mit","lit","trailing_stop","trailing_stop_limit","relative","marketonclose","limitonclose"]}},"ibAlgoTypes":{"type":"array","description":"Indicates permitted algo types for use with the given contract.","items":{"type":"string","enum":["limit","stop_limit","lit","trailing_stop_limit","relative","marketonclose","limitonclose"]}},"fraqTypes":{"type":"array","description":"Indicates permitted order types for use with fractional trading.","items":{"type":"string","enum":["limit","market","stop","stop_limit","mit","lit","trailing_stop","trailing_stop_limit"]}},"forceOrderPreview":{"type":"boolean","description":"Indicates if the order preview is forced upon the user before submission."},"cqtTypes":{"type":"array","description":"Indicates accepted order types for use with cash quantity.","items":{"type":"string","enum":["limit","market","stop","stop_limit","mit","lit","trailing_stop","trailing_stop_limit"]}},"orderDefaults":{"type":"object","properties":{"LMT":{"properties":{"LP":{"type":"string","description":"Indicates a Limit Price default value."}}}},"description":"Indicates default order type for the given security type."},"orderTypesOutside":{"type":"array","description":"Indicates permitted order types for use outside of regular trading hours.","items":{"type":"string","enum":["limit","stop_limit","lit","trailing_stop_limit","relative"]}},"defaultSize":{"type":"integer","description":"Default total quantity value for orders.","format":"int32"},"cashSize":{"type":"integer","description":"Default cash value quantity.","format":"int32"},"sizeIncrement":{"type":"integer","description":"Indicates quantity increase for the contract.","format":"int32"},"tifTypes":{"type":"array","description":"Indicates allowed tif types supported for the contract.","items":{"type":"string"}},"tifDefaults":{"type":"object","properties":{"TIF":{"type":"string","description":"The default TIF type for orders."},"SIZE":{"type":"string","description":"The default size value for orders."},"DEFAULT_ACCT":{"type":"string","description":"default account (multi account only)"},"PMALGO":{"type":"boolean"}},"description":"Object containing details about your TIF value defaults. These defaults can be viewed and modified in TWS’s within the Global Configuration.\n"},"limitPrice":{"type":"integer","description":"Default limit price for the given contract.","format":"int32"},"stopPrice":{"type":"integer","description":"Default stop price for the given contract.","format":"int32"},"orderOrigination":{"type":"string","description":"Order origin designation for US securities options and Options Clearing Corporation","nullable":true},"preview":{"type":"boolean","description":"Indicates if the order preview is required (for client portal only)"},"displaySize":{"type":"integer","description":"Standard display increment rule for the instrument.","format":"int32","nullable":true},"fraqInt":{"type":"integer","description":"Indicates decimal places for fractional order size.","format":"int32"},"cashCcy":{"type":"string","description":"Indicates base currency for the instrument."},"cashQtyIncr":{"type":"integer","description":"Indicates cash quantity increment rules.","format":"int32"},"priceMagnifier":{"type":"integer","description":"Signifies the magnifier of a given contract. This is separate from the price multiplier, and will typically return ‘null’\n","format":"int32","nullable":true},"negativeCapable":{"type":"boolean","description":"Indicates if the value of the contract can be negative (true) or if it is always positive (false)."},"incrementType":{"type":"integer","description":"Indicates the type of increment style.","format":"int32"},"incrementRules":{"type":"array","description":"Indicates increment rule values including lowerEdge and increment value.","items":{"type":"object","properties":{"lowerEdge":{"type":"integer","description":"If the current mark price of the instrument is at or above the lower edge, the given increment value is used for order prices.","format":"int32"},"increment":{"type":"integer","description":"The price of the instrument must be submitted as a mulitple of the increment value.","format":"int32"}}}},"hasSecondary":{"type":"boolean"},"modTypes":{"type":"array","description":"Lists the available order types supported when modifying the order."},"increment":{"type":"integer","description":"Minimum increment values for prices","format":"int32"},"incrementDigits":{"type":"integer","description":"Number of decimal places to indicate the increment value.","format":"int32"}},"description":"detailed contract information"},"contractInfo":{"properties":{"cfi_code":{"type":"string","description":"Classification of Financial Instrument codes"},"symbol":{"type":"string","description":"Underlying symbol"},"cusip":{"type":"string","description":"Returns the CUSIP for the given instrument. Only used in BOND trading."},"expiry_full":{"type":"string","description":"Returns the expiration month of the contract."},"con_id":{"type":"integer","description":"Indicates the contract identifier of the given contract.","format":"int32"},"maturity_date":{"type":"string","description":"Indicates the final maturity date of the given contract."},"industry":{"type":"string","description":"Specific group of companies or businesses."},"instrument_type":{"type":"string","description":"Asset class of the instrument."},"trading_class":{"type":"string","description":"Designated trading class of the contract."},"valid_exchanges":{"type":"string","description":"Comma separated list of support exchanges or trading venues."},"allow_sell_long":{"type":"boolean","description":"Allowed to sell shares you own."},"is_zero_commission_security":{"type":"boolean","description":"Indicates if the contract supports zero commission trading."},"local_symbol":{"type":"string","description":"Contract’s symbol from primary exchange. For options it is the OCC symbol."},"contract_clarification_type":{"type":"string"},"classifier":{"type":"string"},"currency":{"type":"string","description":"Base currency contract is traded in."},"text":{"type":"string","description":"Indicates the display name of the contract, as shown with Client Portal."},"underlying_con_id":{"type":"integer","description":"Underlying contract identifier for the requested contract.","format":"int32"},"r_t_h":{"type":"boolean","description":"Indicates if the contract can be traded outside regular trading hours or not."},"multiplier":{"type":"string","description":"Indicates the multiplier of the contract."},"underlying_issuer":{"type":"string","description":"Indicates the issuer of the underlying."},"contract_month":{"type":"string","description":"Indicates the year and month the contract expires."},"company_name":{"type":"string","description":"Indicates the name of the company or index."},"smart_available":{"type":"boolean","description":"Indicates if the contract can be smart routed or not."},"exchange":{"type":"string","description":"Indicates the primary exchange for which the contract can be traded."},"category":{"type":"string","description":"Indicates the industry category of the instrument."}}},"allocationMethod":{"type":"string","description":"Interactive Brokers supports two forms of allocation methods. Allocation methods that have calculations completed by Interactive Brokers, and a set of allocation methods calculated by the user and then specified. IB-computed allocation methods:\n  * `A` - Available Equity\n  * `E` - Equal\n  * `N` - Net Liquidation Value\n\nUser-specified allocation methods:\n  * `C` - Cash Quantity\n  * `P` - Percentage\n  * `R` - Ratios\n  * `S` - Shares\n","default":"N","enum":["A","E","N","C","P","R","S"]},"presets":{"properties":{"group_auto_close_positions":{"type":"boolean","description":"Determines if allocation groups should prioritize closing positions over equal distribution."},"default_method_for_all":{"description":"Interactive Brokers supports two forms of allocation methods. Allocation methods that have calculations completed by Interactive Brokers, and a set of allocation methods calculated by the user and then specified. IB-computed allocation methods:\n  * `A` - Available Equity\n  * `E` - Equal\n  * `N` - Net Liquidation Value\n\nUser-specified allocation methods:\n  * `C` - Cash Quantity\n  * `P` - Percentage\n  * `R` - Ratios\n  * `S` - Shares\n","enum":["AvailableEquity","E","N","C","P","R","S"]},"profiles_auto_close_positions":{"type":"boolean","description":"Determines if allocation profiles should prioritize closing positions over equal distribution."},"strict_credit_check":{"type":"boolean","description":"Determines if the system should always check user credit before beginning the order process every time, or only at the time of order placement and execution."},"group_proportional_allocation":{"type":"boolean","description":"Determines if the system should keep allocation groups proportional for scaling."}}},"typecodes":{"description":"Many FYI endpoints reference a “typecode” value. The table below lists the available codes and what they correspond to.\n  * `BA` - Borrow Availability\n  * `CA` - Comparable Algo\n  * `DA` - Dividends Advisory\n  * `EA` - Upcoming Earnings\n  * `MF` - Mutual Fund Advisory\n  * `OE` - Option Expiration\n  * `PR` - Portfolio Builder Rebalance\n  * `SE` - Suspend Order on Economic Event\n  * `SG` - Short Term Gain turning Long Term\n  * `SM` - System Messages\n  * `T2` - Assignment Realizing Long-Term Gains\n  * `TO` - Takeover\n  * `UA` - User Alert\n  * `M8` - M871 Trades\n  * `PS` - Platform Use Suggestions\n  * `DL` - Unexercised Option Loss Prevention Reminder\n  * `PT` - Position Transfer\n  * `CB` - Missing Cost Basis\n  * `MS` - Milestones\n  * `TD` - MiFID || 10% Deprecation Notice\n  * `ST` - Save Taxes\n  * `TI` - Trade Idea\n  * `CT` - Cash Transfer\n","enum":["BA","CA","DA","EA","MF","OE","PR","SE","SG","SM","T2","TO","UA","M8","PS","DL","PT","CB","MS","TD","ST","TI","CT"]},"fyiVT":{"properties":{"V":{"type":"integer","description":"Returns 1 to state message was acknowledged.","format":"int32","example":1},"T":{"type":"integer","description":"Returns the time in ms to complete the edit.","format":"int32","example":10}}},"mdFields":{"description":"Many FYI endpoints reference a “typecode” value. The table below lists the available codes and what they correspond to.\n  * `31` - Last Price. The last price at which the contract traded. May contain one of the following prefixes: C - Previous day's closing price. H - Trading has halted.\n  * `55` - Symbol. \n  * `58` - Text. \n  * `70` - High. Current day high price\n  * `71` - Low. Current day low price\n  * `73` - Market Value. The current market value of your position in the security. Market Value is calculated with real time market data (even when not subscribed to market data).\n  * `74` - Avg Price. The average price of the position.\n  * `75` - Unrealized PnL. Unrealized profit or loss. Unrealized PnL is calculated with real time market data (even when not subscribed to market data).\n  * `76` - Formatted position. \n  * `77` - Formatted Unrealized PnL. \n  * `78` - Daily PnL. Your profit or loss of the day since prior close. Daily PnL is calculated with real time market data (even when not subscribed to market data).\n  * `79` - Realized PnL. Realized profit or loss. Realized PnL is calculated with real time market data (even when not subscribed to market data).\n  * `80` - Unrealized PnL %. Unrealized profit or loss expressed in percentage.\n  * `82` - Change. The difference between the last price and the close on the previous trading day\n  * `83` - Change %. The difference between the last price and the close on the previous trading day in percentage.\n  * `84` - Bid Price. The highest-priced bid on the contract.\n  * `85` - Ask Size. The number of contracts or shares offered at the ask price. For US stocks\n  * `86` - Ask Price. The lowest-priced offer on the contract.\n  * `87` - Volume. Volume for the day\n  * `88` - Bid Size. The number of contracts or shares bid for at the bid price. For US stocks\n  * `6004` - Exchange. \n  * `6008` - Conid. Contract identifier from IBKR's database.\n  * `6070` - SecType. The asset class of the instrument.\n  * `6072` - Months. \n  * `6073` - Regular Expiry. \n  * `6119` - Marker for market data delivery method (similar to request id). \n  * `6457` - Underlying Conid. Use /trsrv/secdef to get more information about the security. \n  * `6508` - Service Params.. \n  * `6509` - Market Data Availability. The field may contain three chars. First char defines: R = RealTime, D = Delayed, Z = Frozen, Y = Frozen Delayed, N = Not Subscribed, i - incomplete, v - VDR Exempt (Vendor Display Rule 603c). Second char defines: P = Snapshot, p = Consolidated. Third char defines: B = Book. RealTime Data is relayed back in real time without delay, market data subscription(s) are required. Delayed - Data is relayed back 15-20 min delayed. Frozen - Last recorded data at market close.  relayed back in real time. Frozen Delayed - Last recorded data at market close, relayed back delayed. Not Subscribed - User does not have the required market data subscription(s) to relay back either real time or delayed data. Snapshot - Snapshot request is available for contract. Consolidated - Market data is aggregated across multiple exchanges or venues. Book - Top of the book data is available for contract.\n  * `7051` - Company name. \n  * `7057` - Ask Exch. Displays the exchange(s) offering the SMART price. A=AMEX, C=CBOE, I=ISE, X=PHLX, N=PSE, B=BOX, Q=NASDAQOM, Z=BATS, W=CBOE2, T=NASDAQBX, M=MIAX, H=GEMINI, E=EDGX, J=MERCURY\n  * `7058` - Last Exch. Displays the exchange(s) offering the SMART price. A=AMEX, C=CBOE, I=ISE, X=PHLX, N=PSE, B=BOX, Q=NASDAQOM, Z=BATS, W=CBOE2, T=NASDAQBX, M=MIAX, H=GEMINI, E=EDGX, J=MERCURY\n  * `7059` - Last Size. The number of unites traded at the last price\n  * `7068` - Bid Exch. Displays the exchange(s) offering the SMART price. A=AMEX, C=CBOE, I=ISE, X=PHLX, N=PSE, B=BOX, Q=NASDAQOM, Z=BATS, W=CBOE2, T=NASDAQBX, M=MIAX, H=GEMINI, E=EDGX, J=MERCURY\n  * `7084` - Implied Vol./Hist. Vol %. The ratio of the implied volatility over the historical volatility, expressed as a percentage.\n  * `7085` - Put/Call Interest. Put option open interest/call option open interest for the trading day.\n  * `7086` - Put/Call Volume. Put option volume/call option volume for the trading day.\n  * `7087` - Hist. Vol. %. 30-day real-time historical volatility.\n  * `7088` - Hist. Vol. Close %. Shows the historical volatility based on previous close price.\n  * `7089` - Opt. Volume. Option Volume\n  * `7094` - Conid + Exchange.\n  * `7184` - canBeTraded. If contract is a trade-able instrument. Returns 1(true) or 0(false).\n  * `7219` - Contract Description.\n  * `7220` - Contract Description.\n  * `7221` - Listing Exchange.\n  * `7280` - Industry. Displays the type of industry under which the underlying company can be categorized.\n  * `7281` - Category. Displays a more detailed level of description within the industry under which the underlying company can be categorized.\n  * `7282` - Average Volume. The average daily trading volume over 90 days.\n  * `7283` - Option Implied Vol. %. A prediction of how volatile an underlying will be in the future.At the market volatility estimated for a maturity thirty calendar days forward of the current trading day, and based on option prices from two consecutive expiration months. To query the Implied Vol. % of a specific strike refer to field 7633.\n  * `7284` - Historical volatility %. Deprecated\n  * `7285` - Put/Call Ratio.\n  * `7286` - Dividend Amount. Displays the amount of the next dividend.\n  * `7287` - Dividend Yield %. This value is the toal of the expected dividend paym
[...]
